<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) 谷歌分析跟踪代码 当您在 Google Analytics 中创建一个新的网站（称为“属性”），
    Google 会为您生成一个跟踪 ID。您需要将此 ID 添加到您的网站中，
    以便 Google Analytics 正确跟踪和报告用户在您网站上的行为-->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-BG94RBWQP6"></script> -->
    <script>
        // 初始化 Google Analytics 数据层
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        // 配置 Google Analytics 跟踪 ID
        gtag('config', 'G-BG94RBWQP6');
    </script>
    <meta name="yandex-verification" content="ae2ac4c2ce81f5d4" />
    <meta name="msvalidate.01" content="B0487B46A104E90209E8A3BEA24ECA0E" />
    <!-- 谷歌广告代码 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8515204584571597"
        crossorigin="anonymous"></script>
    
    <title>Image Converter Tools</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 网站描述信息 -->
    <meta name="description"
        content="The free online image converter Tool. Our web-based application helps you to Convert photos and images to JPG, PNG, PDF, WebP, BMP, and more online.">

    <!-- 网站关键词信息 -->
    <meta name="keywords"
        content="png to jpg,jpg to pdf converter,jpg to png i love pdf,webp to png,online converter,jpg to png, image converter online, free image converter,convert image to pdf,convert photo to jpg free">

    <!-- 设置此页面的规范链接地址，用于搜索引擎识别重复内容并确定首选的版本 -->
    <!-- <link rel="canonical" href="https://tools.pythonanywhere.com/"> -->

    <!-- 设置网站的图标（favicon），在浏览器标签页和收藏夹中显示 -->
    <link rel="icon" type="image/png" href="/templates/image/favicon.png">
    <!-- 引入外部样式表 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://mnick-yt.github.io/mystyle.css"> -->
    <link rel="stylesheet" href="/templates/css/myindex.css">
    <link rel="stylesheet" href="/templates/css/mystyle.css">

    <!-- 地理位置相关元信息 -->
    <!-- <meta name="geo.region" content="US-CA" />
    <meta name="geo.placename" content="California" />
    <meta name="geo.position" content="37.431798;-122.170550" />
    <meta name="ICBM" content="37.431798, -122.170550" /> -->

    <!-- 作者信息 -->
    <meta name="Author" content="Ian Tang" />
</head>

<body>
    <!-- 导航栏 -->
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <!-- 下拉菜单 -->
                <a href="javascript:void(0)" class="dropbtn">Tools</a>
                <div class="dropdown-content">
                    <a href="/jpgtopng">JPG to PNG</a>
                    <a href="/pngtojpg">PNG to JPG</a>
                    <a href="/bmptopng">BMP to PNG</a>
                    <a href="/pngtopdf">PNG to PDF</a>
                    <a href="/webptopng">WEBP to PNG</a>
                    <!-- <a href="/jpgtopdf">JPG to PDF</a> -->
                </div>
            </li>
        </ul>
    </div>
    <!------------>
    <main>

        <div class="container">
            <h2>Online Image Converter Tools</h2>
            <!-- 选择区域 -->
            <div id="select-area">

                <a href="/jpgtopng" class="file-input">
                    <i class="fas fa-file-image"></i> JPG to PNG</a>

            </div>

            <div id="select-area">

                <a href="/pngtojpg" class="file-input">
                    <i class="fas fa-file-image"></i> PNG to JPG</a>

            </div>
            <div id="select-area">

                <a href="/bmptopng" class="file-input">
                    <i class="fas fa-file-image"></i> BMP to PNG</a>

            </div>
            <div id="select-area">

                <a href="/pngtopdf" class="file-input">
                    <i class="fas fa-file-image"></i> PNG to PDF</a>

            </div>
            <div id="select-area">

                <a href="/webptopng" class="file-input">
                    <i class="fas fa-file-image"></i> WEBP to PNG</a>

            </div>
            <!-- <div id="select-area">

                <a href="/jpgtopdf" class="file-input">
                    <i class="fas fa-file-image"></i> JPG to PDF</a>

            </div> -->

        </div>

    </main>
    <!--footer-->
    <div class="footer">

        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="/privacypolicy">Privacy Policy</a>
        <a href="/terms">Terms and Conditions</a>
        <!-- 版权信息 -->
        <p>&copy; Copyright 2023 IanTang</p>
    </div>
</body>

</html>